$black: #151515;
$white: #fff;
$white-70: rgba(255, 255, 255, 0.7);

$border-green: #99cc33;
$pale-green: #cce599;
$palest-green: #cce59960;
$grey: #404040;
$pale-grey: #c6c6c6;
$palest-grey: #e7e7e7;
$button-shadow: #eeffee;
$red: #b90e0a;
$pale-red: #b90e0a40;

$box-shadow: 0 0 10px $grey;
$text-shadow: 0 0 10px $white, 0 0 30px $white, 0 0 50px $white;

$standard-border-radius: 5px;
$login-input-border-radius: 20px;
$full-border-radius: 100%;
