$black: #151515;
$white: #FFF;

$border-green: #99CC33;
$pale-green: #CCE599;
$palest-green: #CCE59960;
$grey: #404040;
$pale-grey: #C6C6C6;
$palest-grey: #E7E7E7;
$button-shadow: #EEFFEE;
$red: #B90E0A;
$pale-red: #B90E0A40;

$box-shadow: 0 0 10px $grey;
$text-shadow: 0 0 10px $white, 0 0 30px $white, 0 0 50px $white;

$standard-border-radius: 5px;
$login-input-border-radius: 20px;
$full-border-radius: 100%;
